*-log
recv*
csmgr_fsc_*
.venv
*~

.DS_Store
__pycache__

*.pdf
*.png
*.jpg
/*.log
h*/
link-audio.sh
style.css

logs/
config/ex*.yaml
out/
cefore_emu.egg-info

# node-modules
node_modules
package-lock.json
package.json

